.button {
  height: 60px;
  width: 400px;
  outline: 2px solid black;
  position: relative;
  margin: 0;
  font-weight: bold;
  display: inline-block;
  background-image: url('/media/img/button.png');
  background-repeat: repeat;
  padding: 0;
  font-family: "Minecraft";
  text-align: center;
  color: white;
  text-shadow: 3px 3px #4C4C4C;
  border-bottom: 4px solid #565656;
  border-right: 2px solid #565656;
  border-left: 2px solid #AAA;
  border-top: 2px solid #AAA;
  box-sizing: border-box;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 48px;
  padding-top: 7px;
}

.button span {
  position: relative;
  line-height: 40px;
  bottom: 3px;
}

.button:hover {
  color: #e2e284;
  filter: brightness(120%);
}
