// $color--purple: #663399;
// $color--purple-light: #bba0d6;
// $color--purple-dark: #542c85;

$color--heading: #283137;
$color--text: #586066;
$color--link:#165c9e;
// $color--primary: #e98330;
// $color--primary: #28d3d3;
$color--primary: #385dd8;
// $color--primary: #db512e;

$color--gray-one: #f2f4f7;
$color--gray-two: #e4e9ef;
$color--gray-three: #878e94;
$color--gray-four: #4f5259;
$color--gray-five: #283137;
