@use "colors" as *;
@use "breakpoints" as *;

@font-face {
  font-family: "Minecraft";
  src: url("http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot");
  src: url("http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.eot?#iefix") format("embedded-opentype"),
    url("http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.woff") format("woff"),
    url("http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.ttf") format("truetype"),
    url("http://charliecowan.co.uk/mcbuttongenerator/fonts/mcfont.svg#svgFontName") format("svg");
}
