@use "../breakpoints" as *;
@use "../shadows" as *;
@use "../colors" as *;

* {
  box-sizing: border-box;
}

$size: 150px;

.over {
  perspective: 1300px;
  transform-style: preserve-3d;
  width: 100%;
  position: absolute;
  bottom: 0;

  &.one {
    left: -200px;
  }

  &.two {
    right: -200px;
    transform: scaleX(-1);
  }
}

.inner {
  transform: rotateZ(-1deg) rotateX(-18deg) rotateY(-6deg) translateX(28px);
  transform-style: preserve-3d;
  width: 100%;

  .scene {
    transform: none;
    position: relative;
    width: $size;
    height: $size;
    display: none;
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    left: 0;

    &:nth-child(1) {
      display: inline-block;
      bottom: 150px;
      left: 150px;
      transform: translateZ(-150px);
    }
    &:nth-child(2) {
      display: inline-block;
      transform: translateZ(-150px);
      left: 300px;
    }
    &:nth-child(3) {
      display: inline-block;
      bottom: 0;
      left: 150px;
      // transform: translateZ(-150px);
    }
    &:nth-child(4) {
      display: inline-block;
      bottom: 150px;
      left: 0px;
      // transform: translateZ(-150px);
    }
    &:nth-child(5) {
      display: inline-block;
      bottom: -150px;
      left: 300px;
      // transform: translateZ(-150px);
    }
    &:nth-child(6) {
      display: inline-block;
      bottom: -150px;
      left: 450px;
      transform: translateZ(-150px);
    }
    &:nth-child(7) {
      display: inline-block;
      bottom: 0px;
      left: 150px;
      transform: translateZ(150px);
    }
    &:nth-child(8) {
      display: inline-block;
      bottom: 150px;
      left: 300px;
      transform: translateZ(-300px);
    }
    &:nth-child(9) {
      display: inline-block;
      bottom: 0px;
      left: 300px;
      transform: translateZ(-300px);
    }
    &:nth-child(10) {
      display: inline-block;
      bottom: -150px;
      left: 450px;
      transform: translateZ(-300px);
    }
    &:nth-child(11) {
      display: inline-block;
      bottom: -150px;
      left: 600px;
      transform: translateZ(-300px);
    }
    &:nth-child(12) {
      display: inline-block;
      bottom: 0px;
      left: 450px;
      transform: translateZ(-450px);
    }
    &:nth-child(13) {
      display: inline-block;
      bottom: -150px;
      left: 600px;
      transform: translateZ(-450px);
    }
    &:nth-child(14) {
      display: inline-block;
      bottom: 300px;
      left: 0px;
      transform: translateZ(-300px);
    }
    &:nth-child(15) {
      display: inline-block;
      bottom: 450px;
      left: 300px;
      transform: translateZ(-300px);
    }
    &:nth-child(16) {
      display: inline-block;
      bottom: 300px;
      left: 150px;
      transform: translateZ(-450px);
    }
    &:nth-child(17) {
      display: inline-block;
      bottom: 450px;
      left: 150px;
      transform: translateZ(-300px);
    }
    &:nth-child(18) {
      display: inline-block;
      bottom: 450px;
      left: 0px;
      transform: translateZ(-300px);
    }
    &:nth-child(19) {
      display: inline-block;
      bottom: 300px;
      left: -150px;
      transform: translateZ(-300px);
    }
    &:nth-child(20) {
      display: inline-block;
      bottom: 150px;
      left: 300px;
      transform: translateZ(-1500px);
    }
    &:nth-child(21) {
      display: inline-block;
      bottom: 300px;
      left: 0px;
      transform: translateZ(-1200px);
    }
    &:nth-child(22) {
      display: inline-block;
      bottom: 300px;
      left: 150px;
      transform: translateZ(-1500px);
    }
    &:nth-child(23) {
      display: inline-block;
      bottom: -150px;
      left: 750px;
      transform: translateZ(-450px);
    }
    &:nth-child(24) {
      display: inline-block;
      bottom: -150px;
      left: 900px;
      transform: translateZ(-600px);
    }
    &:nth-child(25) {
      display: inline-block;
      bottom: -150px;
      left: 1050px;
      transform: translateZ(-600px);
    }
    &:nth-child(26) {
      display: inline-block;
      bottom: 150px;
      left: 150px;
      transform: translateZ(-300px);
    }
    &:nth-child(27) {
      display: inline-block;
      bottom: 150px;
      left: 0px;
      transform: translateZ(-300px);
    }
  }
}
.cube {
  position: relative;
  width: inherit;
  height: inherit;
  // transform-style: preserve-3d;
  transition: transform 0.6s;
}
.cube-face {
  width: inherit;
  height: inherit;
  position: absolute;
  // border: 1px solid black;
  opacity: 1;
  background: url("/media/img/side.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 15px 15px 80px -12px #00000030;
}
// faces
.cube-face-front {
  transform: translate3d(0, 0, $size/2);
}
.cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, $size/2);
}
.cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, $size/2);
}
.cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, $size/2);
}
.cube-face-top {
  background: url("/media/img/top.png");
  transform: rotateX(90deg) translate3d(0, 0, $size/2);
}
.cube-face-bottom {
  // background: red;
  transform: rotateX(-90deg) translate3d(0, 0, $size/2);
}

.home {
  .hero {
    padding: 0;
    // padding-top: 180px;
    position: relative;
    overflow: visible;
    background: linear-gradient(to bottom right, #a8ebff, #d1f4ff 80%);
    background: url("/media/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      padding: 0;
    }

    h1 {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
      margin-top: -300px;

      img {
        width: 100%;
        margin-top: 0;
      }
    }

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: none;
    }
  }
}
